
.container{
    height: 120px;
    width: 100vw;
}

.main{
    display: block;
}

.banner{
    display: flex;
    background-color: #18919e;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.bannerText{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}

.navLinks{
    margin-top: 7px;
    margin-left:300px ;
    display: flex;
}

.links{
    margin-top: 7px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    width: 1000px;
}

.userLink{
    align-items: center;
    display: flex;   
}

.userBtn{
    align-items: center;
    margin-bottom: 5px;
}