.container{
    align-items: center;
    display: flex;
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
}


.navLinks{
    display: flex;
    align-items: flex-end
}

.userContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}